
<div  style="background-color:#B1D7B4 ; width:30rem;margin-left: 30rem;">
    <h5>edite caategory</h5>
    <section style=" width:30rem; margin-top: 10rem;">
<form action="/admin/update-category/{{ctbody._id}}" method="post" >
<div><label for="">CATEGORY</label> 
    <input type="text" class="form-control" value="{{ctbody.category}}" name="category" required ></div>
  <button type="submit" class="btn btn-primary mt-4" >submit</button>
</form>     
</section>
</div>