<form action="/admin/send" method="post">
    <input type="text" placeholder="Name" name="Name">
    <input type="text" placeholder="Email" name="Email">
    <input type="datetime-local" placeholder="enter the day" name="day" id="">
    <button type="submit" class="btn btn-danger">submit</button>
</form>