<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">
        <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your
            mobile phone <b class="text-danger">+91 86684833</b></span>
            <h5>{{message}}</h5>
        <div class="d-flex flex-row mt-5">
        <form action="/enterOtp" method="post">
            <input type="text" name="mobile" class="form-control" >
            <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span>
            <button type="submit" class="btn btn-dark" >send Otp</button></div>
        </form>
        </div>
    </div>
</div>
<style>
    .card {
        width: 350px;
        padding: 10px;
        border-radius: 20px;
        background: #fff;
        border: none;
        height: 350px;
        position: relative;
    }

    .container {
        height: 100vh;
    }

    body {
        background: #eee;
    }

    .mobile-text {
        color: #989696b8;
        font-size: 15px;
    }

    .form-control {
        margin-right: 12px;
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ff8880;
        outline: 0;
        box-shadow: none;
    }

    .cursor {
        cursor: pointer;
    }
</style>