
          <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">+91 86684833</b></span>
                <form action="/verifyOtp" method="post">
                <div class="d-flex flex-row mt-5">
                    <input type="text" name="A" class="form-control" autofocus=""><input type="text" name="B" class="form-control"><input type="text" name="C" class="form-control"> <input type="text" name="D"   class="form-control"> <input type="text" name="E" class="form-control"> <input type="text" name="F" class="form-control">
                   </div>
            <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span>
            <button class="btn btn-dark" type="submit">Verify-Otp</button>
            </div>
          </form>
           </div>
        </div>
    </div>
    <style>
        .card {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  border: none;
  height: 350px;
  position: relative;
}

.container {
  height: 100vh;
}

body {
  background: #eee;
}

.mobile-text {
  color: #989696b8;
  font-size: 15px;
}

.form-control {
  margin-right: 12px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff8880;
  outline: 0;
  box-shadow: none;
}
.cursor {
  cursor: pointer;
}
</style>
